// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

blockquote {
  border-left: 10px solid #CCCCCC;
  margin: 1.0em 8px;
  padding: 1.0em 8px;
  p {
    display: block;
    color:black;
  }

  &.question {
    background-color: white;
  }

  &.answer {
    background-color: #FFFFE1;
    font-weight: bold;
  }
}